body {
  background-color: $grey;
  font-family: $mainFont;
  color: $white;
  overflow-x: hidden; 

  h1 {
    color: $white;
  }

  a {
    color: $blue;

    &:hover {
      color: $cyan;
    }
  }

  .conenoc {
    display: flex;
    justify-content: center;
    align-items: center;

    .especial {
      display: block;
      font-size: 100%;
      
      &::before {
        display: block;
        margin-top: -15%;
        content: '≡';
        font-size: 175%;
      }

      > span {
        display: none;
      }
    }

    .revert {
      transform: scaleX(-1);
    }
  }

}