body {
  background-color: $grey;
  font-family: $mainFont;
  color: $white;
  overflow-x: hidden; 

  h1 {
    color: $white;
  }

  a {
    color: $blue;

    &:hover {
      color: $cyan;
    }
  }

}